{
 "presets": ["react",
    ["env", {
      "targets": {
        "node": 8
      }
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["."]
    }],
    ["transform-react-jsx",{"pragma":"h"}]
  ]
}
