.tetris-canvas
  margin-top: 25px
  margin-bottom: 50px

.tetris-controls
  & > div
    display: flex
    & button
      flex-grow: 1
      margin: 10px
      background-color: #026696
      border: 0
      color: #fff
      padding: 10px
      border-radius: 5px
      width: 200px
    & button:hover
      cursor: pointer
      background-color: #41abea
